<!DOCTYPE html>
<html>
  <head>
    <title>JwtDeviseBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if current_user %>
        <h1>Welcome! Now, you can <%= link_to 'Log Out', destroy_user_session_url, method: :delete %></h1>
        <h2><%= link_to 'Home', root_url %></h2>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
